body {
  background-color: #520085;
}

.heading-red {
  color: #850000;
  text-align: center;
}

.heading-white {
  color: #fff;
}

.headin-red {
  color: #850000;
  font-family: comicsans;
  font-size: 20px;
}
